:root {
  --default: 0, 0%;
  --red: 351, 100%;
  --light: hsl(var(--default), 100%);
  --dark: hsl(var(--default), 0%);

  --gray: hsl(var(--default), 9%);
  --gray-bg: hsl(var(--default), 15%);
  --light-gray: hsl(var(--default) 17%);

  --red-primary: hsl(var(--red), 70%);
  --red-hover: hsl(var(--red), 65%);
  --red-focus: hsl(var(--red), 90%);
}

:root {
  --color-background: var(--gray-bg);

  --color-layout: var(--gray);

  --color-heading: var(--light);

  --color-text: var(--light);
  --color-text-secondary: var(--gray-bg);
  --color-text-warn: var(--red-primary);

  --color-link: var(--light);
  --color-link-active: var(--red-primary);
  --color-link-hover: var(--red-primary);

  --color-button: var(--red-primary);
  --color-button-hover: var(--red-hover);

  --color-border: var(--gray-bg);
  --color-border-focus: var(--red-primary);

  --color-input-focus: 0 0 0 0.25rem var(--red-focus);

  --color-card: var(--light);

  --color-spinner: var(--light);

  --section-gap: 1.875rem;
  --container-width: 1028px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

@media (max-width: 1028px) {
  .container {
    margin: 0 1em;
  }
}

a {
  outline-style: none !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-heading);
}

strong {
  font-weight: bold;
}

main {
  margin: var(--section-gap) 0;
}

#app {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.auth__wrapper {
  max-width: 20em;
  margin: 0 auto;
}

.auth__header {
  text-align: center;
}

.auth__header > h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.auth__header * {
  color: var(--color-text-secondary);
  margin: 0.5rem 0;
}

.auth__form {
  margin-top: 1em;
}

.auth__form-control {
  margin: 1em 0;
}

.auth__form-control > * {
  display: block;
}

.auth__form-control > label {
  color: var(--color-text-secondary);
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.auth__form-control > input {
  border: 1px solid var(--color-border);
  border-radius: 10px;
  padding: 0.3em;
  width: 100%;
  transition: border, box-shadow 0.3s;
}

.auth__form-control > input:focus {
  border: 1px solid var(--color-border-focus);
  box-shadow: var(--color-input-focus);
}

.auth__form-control > span {
  margin-top: 0.5em;
  color: var(--color-text-warn);
}
